<%= form_for @album do |form| %>
<div>
Name: <%= form.text_field :name %>
</div>
<div>
Location: <%= form.text_field :location %>
</div>

<div>
  Image: <%= form.file_field :image %>
</div>
<strong><p>or</p></strong>
<div>
Url to Key Photo: <%= form.text_field :key_photo %>
</div>

<div>

<%= form.submit %>
<% end  %>
