<%= form_for @album do |form| %>
<div>
Name: <%= form.text_field :name %>
</div>
<div>
Location: <%= form.text_field :location %>
</div>

<div>
  Image: <%= form.file_field :image %>
</div>

<div>
<br>
<%= form.submit %>
<% end  %>
</div>