<%= form_for @album do |form| %>
<div>
Name: <%= form.text_field :name %>
</div>
<div>
  <%= f.label "Image" %>
  <%= f.file_field :image %>
</div>
<div>
Url to Key Photo: <%= form.text_field :key_photo %>
</div>
<div>
<div>
Location: <%= form.text_field :location %>
</div>
<%= form.submit %>
<% end  %>
