<h2>
<%= @album.name%>
</h2>

<p>
    <%# cl_image_tag @album.image %>
</p>

<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <%= cl_image_tag @album.image %>
          
          <span class="card-title">الصورة المختارة</span>
        </div>
        <div class="card-content">
          <p>This is the key phot of this album</p>
        </div>
        <div class="card-action">
          <a href="https://maps.google.com/maps?q=<%= @album.location%>">Location: <%= @album.location%></a>
        </div>
      </div>
    </div>
  </div>

 <div class="controls">
  <%= link_to "Edit Album", edit_album_path(@album) %> <br>
  <%= link_to "Delete Album", album_path(@album), method: :delete %>
</div>


<div class="row">
<br>    
    <%= render partial: 'photos/form', 
    :locals => {configuration: @configuration, submit_text: "Add New Photo"} %>
</div>

<h2>All Photos in this Album</h2>

<% @album.photos.each do |photo| %>
  <div class="photo">
  <%=link_to cl_image_tag(photo.image), photo_path(photo) =%>

  </div>
<% end %>



