<h2>
This photo from 
<br>
  <%= link_to(@photo.album.name, album_path(@photo.album)) %>

</h2>

<p>
    <%= cl_image_tag @photo.image %>
</p>
<div class="controls">
  <%= link_to "Replace Photo", edit_photo_path(@photo) %>
  <%= link_to "Delete Photo", album_path(@photo), method: :delete %>

</div>
<h4>People in this photo</h4>
<ul>
  <% @photo.people.each do |person| %>
    <li>
  <%= link_to(person.name, person_path(person)) %>
  </li>
  <% end %>
</ul>
<div class="row">
<br> 
    Add missing people here<%= render partial: 'people/form', 
    :locals => {configuration: @configuration, submit_text: "Add missing person"} %>
</div>
 

